.submittedContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submittedContainer img {
    height: 100px;
    width: 140px;
    margin-bottom: 30px;
}

.submittedRating {
    background-color: var(--dark-blue);
    padding: 5px 16px;
    border-radius: 50px;
    color: var(--orange);
    margin-bottom: 30px;
}

.submittedContainer h2 {
    margin-bottom: 15px;
}

.submittedText {
    color: var(--medium-grey);
    text-align: center;
}